<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/rest/admin/**" access="hasRole('Admin')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

    <http>
        <intercept-url pattern="/login" access="isAnonymous()"/>
        <intercept-url pattern="/ajax/profile/ticket/userId/**" access="isAnonymous()"/>

        <intercept-url pattern="/**/admin/**" access="hasRole('Admin')"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login login-page="/login" default-target-url="/tickets"
                    authentication-failure-url="/login?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/login"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="noopEncoder"/>
            <!--<jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT login, password, enabled FROM users WHERE login = ?"
                               authorities-by-username-query="
                                                       SELECT u.login, r.name FROM users u, roles r WHERE u.role_id = r.id AND u.login = ?"/>-->
            <user-service>
                <user name="User1" password="password" authorities="User"/>
                <user name="Admin" password="admin" authorities="Admin"/>
                <user name="User2" password="password" authorities="User"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>